.footerBottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 28px 0 29px;
}


.text {
  color: var(--white);
  font-size: 13px;
  line-height: 15px;
  opacity: .5;
}


.info {
  display: flex;
  align-items: flex-end;
}


.infoLink {
  margin: 0 0 0 4px;

  &:hover {
    opacity: 1;
  }
}


.infoAge {
  margin: 0 0 0 16px;
  font-size: 10px;
  line-height: 13px;
}


.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}


.menuItem {
  display: inline-block;
}


.company {
  display: flex;
  align-items: center;
}


.companyTitle {
  margin: 0 0 2px 0;
}


.companyLink {
  display: block;
  margin: 0 0 0 5px;
  font-weight: 500;
  font-size: 14px;
}






.footerBottomSmall {
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 0;

  .company {
    margin: 4px 0 0;
  }
}