.root {
  margin-top: 60px;
}

.list {

}

.buttonMore {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px 8px 14px;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
  border-radius: 100px;
  outline: none;
  background-color: rgba(0, 0, 0, .05);
  transition: background-color .2s ease, transform .2s ease;

  &:hover {
    transform: scale(1.05);
    background-color: rgba(var(--black-rgb), .1);
  }

  &:before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M7.436 11.028 1.87 5.495 2.998 4.36 8 9.333l5.003-4.973 1.128 1.135-5.567 5.533L8 11.59l-.564-.56Z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}


.spoiler {
  padding: 7px 9px 9px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(var(--gray-800--rgb), .6);
  background-color: var(--gray-50);
}