.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  width: 100%;
  padding: 0 16px;
  border-bottom: 1px solid var(--gray-100);
  background: #fff;
}


.btnLists {
  display: flex;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: rgba(var(--black-rgb), .6);

  &:after {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    content: "";
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(0, 0, 0, 0.6)"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M9.84 8.015 4.447 2.848l1.107-1.155 6 5.748.607.582-.611.577-6 5.674-1.1-1.163 5.39-5.096Z"/%3E%3C/svg%3E');
    background-size: cover;
  }
}