.skeletonRoot {
  position: relative;
  max-width: 100%;
}


.skeleton {
  display: inline-flex;
  background: #ebebeb;
  width: 100%;
  user-select: none;
  overflow: hidden;
}

.skeleton_rect {
}


.skeleton_text {
  line-height: 1;
}


.skeleton_circle {
  border-radius: 50%;
}