.errorPage {
  min-height: 100vh;
  background: var(--gray-950);
}


.container {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;

  @include min-sm {
    max-width: 500px;
  }

  @include min-lg {
    max-width: 1000px;
  }
}


.logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 56px;
  height: 7vh;

  @include min-sm {
    min-height: auto;
    height: auto;
    padding: 80px 0 100px;
  }

  @include min-lg {
    justify-content: flex-start;
    padding: 11vh 0 17vh;
  }
}


.logo {
  position: relative;
  opacity: 0.9;
  transition: opacity 0.25s ease-out;

  &:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    background-color: var(--primary);
    transition: width 0.25s ease-out;
  }

  &:hover {
    opacity: 1;

    &:after {
      width: 154px;
    }
  }
}

.content {
  margin-top: 24vh;

  @include min-sm {
    margin-top: 0;
  }
}


.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-50);
  text-align: center;

  @include min-sm {
    font-size: 48px;
    line-height: 52px;
  }

  @include min-lg {
    text-align: start;
  }
}


.desc {
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
  color: var(--gray-400);
  text-align: center;

  @include min-sm {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  @include min-lg {
    text-align: start;
  }
}


.links {
  position: absolute;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-sm {
    position: initial;
    margin: 60px 0 0;
  }

  @include min-lg {
    align-items: flex-start;
  }
}


.link {
  display: block;
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-300);
  transition: color 0.1s ease-out;

  &:hover {
    color: var(--white);
  }
}