.root {

}

.title {
  margin: 0 0 24px;
  padding-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: var(--gray-900);
  border-bottom: 1px solid var(--black);
}

.subtitle {
  font-size: 15px;
  line-height: 20px;
}

.scrollBar {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
}



.root_small {
  .list {
    gap: 12px;
  }
}